In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import sys
sys.path.append("../")

In [6]:
credits = pd.read_csv("../data/tmdb_5000_credits.csv")
movies = pd.read_csv("../data/tmdb_5000_movies.csv")

In [10]:
print(credits.head())
print(credits.shape)

   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
(4803, 4)

In [11]:
print(movies.head())
print(movies.shape)

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
(4803, 20)

In [13]:
print(credits.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB
None

In [14]:
print(movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None

In [171]:
# standardize the joining columns
movies['title'] = movies['title'].apply(lambda x: str(x).strip().upper())
credits['title'] = credits['title'].apply(lambda x: str(x).strip().upper())

# merge both the dataset on title
movies_comb = movies.merge(credits, on='title', how='left')

In [172]:
print(movies_comb.shape)
print(movies_comb.info())

(4809, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB
None

## There are movies with same title but released in different years (they are probably remakes)

In [173]:
x = movies_comb.groupby('title')['crew'].count().reset_index()
print(x.query('crew > 1'))
print(movies_comb.query('title == "BATMAN"')[['id', 'movie_id', 'title', 'original_title', 'release_date']])
print(movies_comb.query('title == "OUT OF THE BLUE"')[['id', 'movie_id', 'title', 'original_title', 'release_date']])
print(movies_comb.query('title == "THE HOST"')[['id', 'movie_id', 'title', 'original_title', 'release_date']])

                title  crew
435            BATMAN     4
2567  OUT OF THE BLUE     4
3794         THE HOST     4
        id  movie_id   title original_title release_date
1360   268       268  BATMAN         Batman   1989-06-23
1361   268      2661  BATMAN         Batman   1989-06-23
4272  2661       268  BATMAN         Batman   1966-07-30
4273  2661      2661  BATMAN         Batman   1966-07-30
         id  movie_id            title   original_title release_date
3650  39269     39269  OUT OF THE BLUE  Out of the Blue   1980-05-01
3651  39269     10844  OUT OF THE BLUE  Out of the Blue   1980-05-01
3697  10844     39269  OUT OF THE BLUE  Out of the Blue   2006-10-12
3698  10844     10844  OUT OF THE BLUE  Out of the Blue   2006-10-12
         id  movie_id     title original_title release_date
972   72710     72710  THE HOST       The Host   2013-03-22
973   72710      1255  THE HOST       The Host   2013-03-22
2879   1255     72710  THE HOST             괴물   2006-07-27
2880   1255      1255  THE HOST             괴물   2006-07-27

## Feature ideas
We are building a content based filtering recommender system i.e., recommendations based on user's past interest

Based on what an user can search a movie?
* title - title, original_title
* genre - genres
* cast - cast
* crew - crew

Based on user's past movies?
* content of the movie - keywords, overview, tagline
* language (user preferes few specific languages) - spoken_languages
* genre (user preferes few specific genres) - genres
* cast (user prefers few specific casts) - cast
* crew (user preferes christopher nolan movies) - crew
* runtime (may be user watches only shorter movies) - runtime
* popularity - vote_count, vote_average, popularity (may be user likes only popular movies)
* production companies (Marvels, DC, etc)
+ production countries (may/may not)
* Release year - release date (may be user watches most recent movies)

Useless features:
* revenue
* budget
* homepage
* status (Most of the movies are released anyway)
* original_language (Most of the languages are english (93%))

## Feature engineering to-do's
* extract release year from release date column
* Remove revenue, budget, homepage, status, original_language
* Explore information in dictionary columns - genres, keywords, production_companies, production_countries, spokern_languages, cast, crew
* Text preprocessing:
    * tokenization
    * remove space between words in a token (to remove confusion between similar names)
    * removing Punctuation & Special Characters
    * remove stop words
    * convert everything to lower case
    * concatenate all the information about the movie into one column that will be converted to embeddings
    * Note: there are repetitions in cast, character and crew names

In [174]:
# extract release year and drop columns
dates = pd.to_datetime(movies_comb['release_date'])
movies_comb['release_year'] = dates.dt.year
movies_comb.drop(['revenue', 'budget', 'homepage', 'status', 'original_language', 'release_date'], axis=1, inplace=True)
print(movies_comb.shape)

(4809, 18)

In [175]:
# function to extract elements of json file
def get_elements(x, dic_element_name='name'):
    """
    x is a list dictionary   
    """
    x = eval(x)
    keywords = []
    for dic in x:
        assert(isinstance(dic, dict))
        assert(dic_element_name in dic.keys())
        keywords.append(dic[dic_element_name])
    return keywords

print(get_elements(movies_comb['cast'][0], dic_element_name='name'))

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Michelle Rodriguez', 'Giovanni Ribisi', 'Joel David Moore', 'CCH Pounder', 'Wes Studi', 'Laz Alonso', 'Dileep Rao', 'Matt Gerald', 'Sean Anthony Moran', 'Jason Whyte', 'Scott Lawrence', 'Kelly Kilgour', 'James Patrick Pitt', 'Sean Patrick Murphy', 'Peter Dillon', 'Kevin Dorman', 'Kelson Henderson', 'David Van Horn', 'Jacob Tomuri', 'Michael Blain-Rozgay', 'Jon Curry', 'Luke Hawker', 'Woody Schultz', 'Peter Mensah', 'Sonia Yee', 'Jahnel Curfman', 'Ilram Choi', 'Kyla Warren', 'Lisa Roumain', 'Debra Wilson', 'Chris Mala', 'Taylor Kibby', 'Jodie Landau', 'Julie Lamm', 'Cullen B. Madden', 'Joseph Brady Madden', 'Frankie Torres', 'Austin Wilson', 'Sara Wilson', 'Tamica Washington-Miller', 'Lucy Briant', 'Nathan Meister', 'Gerry Blair', 'Matthew Chamberlain', 'Paul Yates', 'Wray Wilson', 'James Gaylyn', 'Melvin Leno Clark III', 'Carvon Futrell', 'Brandon Jelkes', 'Micah Moch', 'Hanniyah Muhammad', 'Christopher Nolen', 'Christa Oliver', 'April Marie Thomas', 'Bravita A. Threatt', 'Colin Bleasdale', 'Mike Bodnar', 'Matt Clayton', 'Nicole Dionne', 'Jamie Harrison', 'Allan Henry', 'Anthony Ingruber', 'Ashley Jeffery', 'Dean Knowsley', 'Joseph Mika-Hunt', 'Terry Notary', 'Kai Pantano', 'Logan Pithyou', 'Stuart Pollock', 'Raja', 'Gareth Ruck', 'Rhian Sheehan', 'T. J. Storm', 'Jodie Taylor', 'Alicia Vela-Bailey', 'Richard Whiteside', 'Nikie Zambo', 'Julene Renee']

In [176]:
# extract information from the columns
movies_comb['keywords2'] = movies_comb['keywords'].apply(lambda x: get_elements(x, 'name'))
movies_comb['production_companies2'] = movies_comb['production_companies'].apply(lambda x: get_elements(x, 'name'))
movies_comb['production_countries2'] = movies_comb['production_countries'].apply(lambda x: get_elements(x, 'name'))
movies_comb['spoken_languages2'] = movies_comb['spoken_languages'].apply(lambda x: get_elements(x, 'iso_639_1'))
movies_comb['cast2'] = movies_comb['cast'].apply(lambda x: get_elements(x, 'name'))
movies_comb['character2'] = movies_comb['cast'].apply(lambda x: get_elements(x, 'character'))
movies_comb['crew2'] = movies_comb['crew'].apply(lambda x: get_elements(x, 'name'))
movies_comb['genres2'] = movies_comb['genres'].apply(lambda x: get_elements(x, 'name'))

In [177]:
# drop unncessary columns
movies_comb.drop(['keywords', 'production_companies', 'production_countries', 'spoken_languages', 
                  'cast', 'crew', 'genres'], axis=1, inplace=True)

### Text preprocessing

In [193]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [ ]:
# tokenize overview & tagline
movies_comb['overview'] = movies_comb['overview'].apply(lambda x: str(x).split())
movies_comb['tagline'] = movies_comb['tagline'].apply(lambda x: str(x).split())
movies_comb['title'] = movies_comb['title'].apply(lambda x: str(x).split())

# remove space between words in a token
def inlist_removespace(x):
    return [str(t).replace(" ", "") for t in x]

movies_comb['keywords2'] = movies_comb['keywords2'].apply(lambda x: inlist_removespace(x))
movies_comb['production_companies2'] = movies_comb['production_companies2'].apply(lambda x: inlist_removespace(x))
movies_comb['production_countries2'] = movies_comb['production_countries2'].apply(lambda x: inlist_removespace(x))
movies_comb['spoken_languages2'] = movies_comb['spoken_languages2'].apply(lambda x: inlist_removespace(x))
movies_comb['cast2'] = movies_comb['cast2'].apply(lambda x: inlist_removespace(x))
movies_comb['crew2'] = movies_comb['crew2'].apply(lambda x: inlist_removespace(x))
movies_comb['character2'] = movies_comb['character2'].apply(lambda x: inlist_removespace(x))
movies_comb['genres2'] = movies_comb['genres2'].apply(lambda x: inlist_removespace(x))

# concatenate overview, keywords2, production_companies2, production_countries2, spoken_languages2, cast2, crew2, character2, genres2, tagline
movies_comb['combined_tag'] = movies_comb['title'] + movies_comb['overview'] + movies_comb['keywords2'] + movies_comb['production_companies2'] + movies_comb['production_countries2'] + \
                                movies_comb['spoken_languages2'] + movies_comb['cast2'] + movies_comb['crew2'] + movies_comb['character2'] + movies_comb['genres2'] + movies_comb['tagline']

# strip and lower everything
def inlist_lower(x):
    return [str(t).strip().lower() for t in x]

movies_comb['combined_tag'] = movies_comb['combined_tag'].apply(lambda x: inlist_lower(x))

# get rid of punctuation marks
def remove_punctuation_marks(x):
    return [re.sub(r'[^\w\s]', '', t) for t in x]

movies_comb['combined_tag'] = movies_comb['combined_tag'].apply(lambda x: remove_punctuation_marks(x))

# remove stop words
stop_words = set(stopwords.words('english'))
def remove_stop_words(x):
    return [t for t in x if t not in stop_words]

movies_comb['combined_tag'] = movies_comb['combined_tag'].apply(lambda x: remove_stop_words(x))

In [180]:
# remove unnecessary columns
movies_comb.drop(['overview', 'keywords2', 'production_companies2', 'production_countries2', 'spoken_languages2', 'cast2', 'crew2', 'character2', 
                  'genres2', 'tagline', 'title', 'original_title'], axis=1, inplace=True)

In [148]:
print(movies_comb['id'].nunique())
print(movies_comb['movie_id'].nunique())

4803
4803

In [ ]:
# missing imputation
# movies.query('id == 380097')
movies_comb['release_year'] = movies_comb['release_year'].fillna(2015)

mean_runtime = movies_comb['runtime'].mean()
movies_comb['runtime'] = movies_comb['runtime'].fillna(mean_runtime)

In [ ]:
# convert to text from tokens
def join_tokens(x):
    return ' '.join(t for t in x)

movies_comb['text'] = movies_comb['combined_tag'].apply(join_tokens)

In [203]:
print(movies_comb.shape)
movies_comb.head(10)

(4809, 9)

,id,popularity,runtime,vote_average,vote_count,movie_id,release_year,combined_tag,text
0,19995,150.437577,162.0,7.2,11800,19995,2009.0,"[avatar, 22nd, century, paraplegic, marine, di...",avatar 22nd century paraplegic marine dispatch...
1,285,139.082615,169.0,6.9,4500,285,2007.0,"[pirate, caribbean, world, end, captain, barbo...",pirate caribbean world end captain barbossa lo...
2,206647,107.376788,148.0,6.3,4466,206647,2015.0,"[spectre, cryptic, message, bond, past, sends,...",spectre cryptic message bond past sends trail ...
3,49026,112.312950,165.0,7.6,9106,49026,2012.0,"[dark, knight, rise, following, death, distric...",dark knight rise following death district atto...
4,49529,43.926995,132.0,6.1,2124,49529,2012.0,"[john, carter, john, carter, warweary, former,...",john carter john carter warweary former milita...
5,559,115.699814,139.0,5.9,3576,559,2007.0,"[spiderman, 3, seemingly, invincible, spiderma...",spiderman 3 seemingly invincible spiderman go ...
6,38757,48.681969,100.0,7.4,3330,38757,2010.0,"[tangled, kingdom, wantedand, charmingbandit, ...",tangled kingdom wantedand charmingbandit flynn...
7,99861,134.279229,141.0,7.3,6767,99861,2015.0,"[avenger, age, ultron, tony, stark, try, jumps...",avenger age ultron tony stark try jumpstart do...
8,767,98.885637,153.0,7.4,5293,767,2009.0,"[harry, potter, halfblood, prince, harry, begi...",harry potter halfblood prince harry begin sixt...
9,209112,155.790452,151.0,5.7,7004,209112,2016.0,"[batman, v, superman, dawn, justice, fearing, ...",batman v superman dawn justice fearing action ...